<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />    
	<meta http-equiv="content-language" content="en" />
	<meta name="rating" content="General" />
	<meta name="distribution" content="Global" />
	<!--
	<meta name="author" content="Nicolas Seriot" />
	<meta name="copyright" content="&copy; by Nicolas Seriot, Lausanne, Switzerland"  />
	<meta name="robots" content="index,follow" />
	<meta name="keywords" content="nicolas, seriot, nicolas seriot, apple, mac os x, objective-c, software, eivd, heig-vd, quickies, newsmemory, cocoa, python, code, source" />
    -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link href="style/style.css" rel="stylesheet" type="text/css" />
	<link rel="alternate" type="application/rss+xml" href="rss.php" title="RSS feed for {{ site_name }}" />
	<title>{{ site_name }} - {{ page_title }}</title>     
</head>

<body>

<div id="wrap">
	
	<div id="header">
	    <p id="quotation">One of my most productive days was<br />throwing away 1000 lines of code.<br />-<a href="http://en.wikipedia.org/wiki/Ken_Thompson">Ken Thompson</a></p>
	    <p id="site_name">{{ site_name }}</p>
	</div>

    <div id="content">{{ page_content }}</div>

    <ul id="nav">{{ menu }}</ul>

    <div id="sidebar">{{ page_sidebar }}</div><br />

    <div id="footer">Copyright &copy; 2007 <a href="login.php">{{ site_name }}</a> </div>

</div>

<p></p>

<!-- google analytics code here -->

</body>
</html>
